# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc
*.pyo

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
*.sqlite3
media/
staticfiles/
static_root/
static/
.env
.env.*
local_settings.py

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environments
.env
*.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Node stuff (if using npm/yarn for frontend)
node_modules/

# Test output
htmlcov/
.coverage
.tox/
.nox/
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
